/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*寬高固定*/
*,*:before,*:after{
    box-sizing:border-box;
    }
    
/*圖片自適應*/
img{
    max-width:100%; 
    height:auto;
    }

/* 從這裡開始寫 */

body{
    font-family: "Noto Sans TC", sans-serif;
}

.wrap{
    max-width:1920px;
    margin:0 auto;
}

/* 表頭 */
.header{
    /*for Menu*/
    display:flex;
    justify-content:space-between; /*橫向置中*/
    align-items: center;/*垂直置中*/
    padding: 0 40px;
}

.logo{
    width:90px;
    height:40px;
    padding:7px 12px;
}

.menu{
    margin-top:32px;
    margin-bottom:32px;
    display:flex;
    gap:40px;
}


.menu-text{
    /*讓a標籤範圍擴大*/
    display:block; 
    
    /* 字體設定 */
    padding:4px 8px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    
    /*for span標籤*/
    position:relative;
}

.border-corner{
    opacity: 0;
}

/*重複設定四次，記得更改上下左右*/
.border-corner-left-top{
    /*設定邊框樣式*/
    border-left:1px solid #919191;
    border-top:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    left:0px;
    top:0px;
    }

.border-corner-right-top{
    /*設定邊框樣式*/
    border-right:1px solid #919191;
    border-top:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    right:0px;
    top:0px;
    }

 .border-corner-left-bottom{
    /*設定邊框樣式*/
    border-left:1px solid #919191;
    border-bottom:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    left:0px;
    bottom:0px;
    }
    
.border-corner-right-bottom{
    /*設定邊框樣式*/
    border-right:1px solid #919191;
    border-bottom:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    right:0px;
    bottom:0px;
    }

.menu-content:hover .border-corner {
    opacity: 1;
}

.menu-button{
    border: none;
    background-color:#FFFFFF;
    margin: 8px;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    display: none;
}


/* articles */

.blogger{
    margin-top: 120px;
}

.blogger-content{
    display: flex;
    flex-direction: row-reverse;
    padding:0 5%;
    margin-bottom: 120px;
    justify-content: space-between;
}

.infor-box{
    background-color:#FAFAFA ;
    width: 22%;
    padding-left: 80px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap:32px;
}


.infor-box a{
    color: #5B5B5B;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    padding-bottom: 4px;
    text-align: left;
}

.infor-box a::before{
    content:"";
    position:absolute;
    background-color: #1E1E1E;
    width: 100%;
    height: 1px;
    bottom: 0;
    text-align: center;
    opacity: 0;
}

.infor-box a:hover{
    color:#1E1E1E;
}

.infor-box a:hover::before{
    opacity: 1;
}


/* 正文開始 */

.articles{
    width: 75%;
}
.articles-title{
    width: 100%;
    display: flex;
    gap:40px;
    flex-direction: column;
    margin-bottom: 64px;
}

.articles-title-tag{
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color:#919191;
}

.articles-title-tag a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color:#919191;
}

.articles-title-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
}

.articles-title-item h1{
    font-size: 32px;
    line-height: 38.4px;
    color: #3B3B3B;
    font-weight: 700;
}

.articles-title-item h2{
    font-size: 24px;
    line-height: 28.8px;
    color: #3B3B3B;
}

.articles-content p{
    color:#3B3B3B;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
}

.articles-content h3{
    color:#3B3B3B;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    margin-bottom: 16px;
}

.articles-content h5{
    color: #3B3B3B;
    font-size: 16px;
    line-height: 24px;
}

.picture{
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-bottom: 40px;
}

.group{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.picture-box h4{
    font-size: 16px;
    line-height: 24px;
    color: #5B5B5B;
    text-align: center;
}

.read-more{
    margin:0 5%;
    border-top:1px solid #C1C1C1 ;
}

.read-more h3{
    color: #3B3B3B;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 700;
    margin-top: 80px ;
    margin-bottom: 40px;
}

.read-more-contanier{
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    justify-content: flex-start;
}

.read-more-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 416px;
}

.read-more-card-pic{
    overflow: hidden;
}

.read-more-card-pic img{
    width:100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #F1F1F1;
}

.read-more-card-title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #3B3B3B;
    text-decoration: none;
}

.read-more-card-link{
    display: flex;
    justify-content: space-between;
}

.tag{
    display: block;
    padding:4px 12px;
    background-color: #F1F1F1;
    border-radius: 16px;
    color:#3B3B3B;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.date{
    color: #5B5B5B;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}


/* footer */
.footer{
    background-image: url(./images/footer-bg-lg.png);
    display: flex;
    padding: 80px;
    justify-content: center;
}

.footer-box{
    width: 1296px;
    display: flex;
    justify-content: space-between;
}

.footer-content img{
    width: 120px;
    height: 54px;
    margin-bottom: 24px;
}

.wellcome{
    color:#3B3B3B ;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
}

.email{
    color: #919191;
    font-size: 20px;
    line-height: 24px;
}



.footer-link{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.footer-link a{
    width: 306px;
    background-color: #FFFFFF;
    border: 1px solid #C1C1C1;
    color: #3B3B3B;
    padding:8px 24px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap:8px
}


.footer-link-open{
    width: 56px;
    height: 56px;
}

.footer-link .footer-link-hover{
    display: none;
    width: 56px;
    height: 56px;
}

.footer-link a:hover{
    background-color: #000000;
    border:1 solid #000000;
    color: #FFFFFF;
}

.footer-link a:hover .footer-link-hover{
    display: inline;
}

.footer-link a:hover .footer-link-open{
    display: none;
}



@media (max-width:1350px) {

    .blogger{
        margin-top: 0px;
    }

    .blogger-content{
        flex-direction: column;
        gap:40px;
    }

    .infor-box{
        flex-direction: row;
        width: 100%;
        gap: 32px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
    }

    .articles{
        width: 100%;
    }
    
}




@media (max-width:1030px) {

        /* footer */
        .footer-box{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .email{
            margin-bottom: 40px;
        }

        .footer-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

}


@media (max-width:768px) {
    /* Menu改成漢堡選單*/
    .header{
        position:relative;
    }

    .menu{
        display: none;
        z-index: 5;
        position: absolute;
        flex-direction: column;
        align-items: center;
        margin:0;
        padding-top:40px;
        padding-bottom: 40px;
        top: 100%;
        right: 50%;
        transform: translateX(50%);/*因為上面用的是right，所以這邊用的是正的50%，如果使用到left，就需要設為負的50%*/
        background-color: #FFFFFF;
        width: 100%;
    }
    
    .menu-button{
        display: block;
    }

    .menu-button .menu-buttom-close{
        display: none;
    }

    .active{
        display: flex;
    }

    .read-more{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .read-more-contanier{
        flex-wrap: wrap;
        align-items: center;
    }

    .read-more-card{
        width: 100%;
    }

    .group{
        flex-wrap: wrap;
    }

    .articles-title-tag span{
        display: none;
    }

    .articles-title-tag{
        display: flex;
        justify-content: space-between;
    }

    .articles-title-item h1{
        font-size: 24px;
        line-height: 28.8px;
        text-align: center;
    }

    .articles-title-item h2{
        font-size: 16px;
        line-height: 19.2px;
        text-align: center;
    }

    .articles-content p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 32px;
    }

    .articles-content h3{
        font-size: 20px;
        line-height: 24px;
    }


    
}

@media (max-width:696px) {
    .infor-box{
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
          }
    }
}