/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*寬高固定*/
*,*:before,*:after{
    box-sizing:border-box;
    }
    
/*圖片自適應*/
img{
    max-width:100%; /*設定為父元素的寬度*/
    height:auto;
    }

/* 從這裡開始寫 */

body{
    font-family: "Noto Sans TC", sans-serif;
}

.wrap{
    max-width:1920px;
    margin:0 auto;
}

/* 表頭 */
.header{
    /*for Menu*/
    display:flex;
    justify-content:space-between; /*橫向置中*/
    align-items: center;/*垂直置中*/
    padding: 0 40px;
}

.logo{
    width:90px;
    height:40px;
    padding:7px 12px;
}

.menu{
    margin-top:32px;
    margin-bottom:32px;
    display:flex;
    gap:40px;
}


.menu-text{
    /*讓a標籤範圍擴大*/
    display:block; 
    
    /* 字體設定 */
    padding:4px 8px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    
    /*for span標籤*/
    position:relative;
}

.border-corner{
    opacity: 0;
}

/*重複設定四次，記得更改上下左右*/
.border-corner-left-top{
    /*設定邊框樣式*/
    border-left:1px solid #919191;
    border-top:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    left:0px;
    top:0px;
    }

.border-corner-right-top{
    /*設定邊框樣式*/
    border-right:1px solid #919191;
    border-top:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    right:0px;
    top:0px;
    }

 .border-corner-left-bottom{
    /*設定邊框樣式*/
    border-left:1px solid #919191;
    border-bottom:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    left:0px;
    bottom:0px;
    }
    
.border-corner-right-bottom{
    /*設定邊框樣式*/
    border-right:1px solid #919191;
    border-bottom:1px solid #919191;
    /*設定寬高*/
    width:8px;
    height:8px;
    /*絕對定位*/
    position:absolute;
    right:0px;
    bottom:0px;
    }

.menu-content:hover .border-corner {
    opacity: 1;
}

.menu-button{
    border: none;
    background-color:#FFFFFF;
    margin: 8px;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    display: none;
}

/* services頁面從這裡開始 */

/* title */

.title{
    display: flex;
    justify-self: center;
    align-items:center;
    gap: 16px;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 12%;
    color:#3B3B3B;
    font-weight: 600;
}

.title-content-left,.title-content-right{
    width: 100px;
    height: 1px;
    background-color: #C1C1C1;
    position: relative;
}

.title-content-left::after{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #C1C1C1;
    border-radius: 100%;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
}

.title-content-right::after{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #C1C1C1;
    border-radius: 100%;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
}

/* services */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.services-items{
    display: flex;
    justify-content: center;
    gap:24px;
    flex-wrap: wrap;
}

.services-items div{
    background-image: url(./images/service-item-bg.png);
    width: 306px;
    height: 306px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;
}

.services-items div img{
    width: 80px;
    height: 80px;
}

.services-items div p{
    font-size: 28px;
    line-height: 42px;
    font-weight: 700;
    color: #FFFFFF;
}

/* process */

.process{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-top: 120px;
    padding-bottom: 120px;
    background: linear-gradient(-45deg,#000000 50%, #1E1E1E 50%);
}

.process .title{
    color: #FFFFFF;
}

.process-content{
    display: flex;
    flex-direction: column;
    gap:16px;
    align-items: center;
    width: 655px;
}

.process-content-card{
    width: 100%;
    padding: 24px 32px;
    background-color: #3B3B3B;
    border: 1px solid #919191;
    border-radius: 4px;
    display: flex;
    gap: 32px;
}

.process-content-card div h6{
    font-weight: 700;
    font-size: 28px;
    line-height: 33.6px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.process-content-card div p{
    font-size: 20px;
    line-height: 30px;
    color: #E9E9E9;
}

.material-icons{
    color: #5B5B5B;
    font-size: 32px;
}

.process-content-card h5{
    font-size: 72px;
    line-height: 86.4px;
    color: #919191;
    font-family: "Tourney", sans-serif;;
}

/* prices */
.prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.prices-box{
    display: flex;
    gap:24px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.prices-box-card{
    background-color: #FAFAFA;
    width: 416px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.prices-box-title{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.prices-box-title img{
    width: 42px;
    height: 42px;
}

.prices-box-title p{
    font-size: 28px;
    line-height: 42px;
    color: #5B5B5B;
    font-weight: 700;
}

.prices-box-deco{
    width: 41px;
    height: 1px;
    background-color: #C1C1C1;
}

.prices-box-money{
    display: flex;
    gap:8px;
    align-items: flex-end;
    justify-content: center;
}

.prices-box-money h6{
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
    font-weight: 700;
}

.prices-box-money p{
    font-size: 16px;
    line-height: 24px;
    color: #5B5B5B;
}



/* cases */
.cases{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FAFAFA;
}

.cases-content{
    display: flex;
    flex-direction: column;
    gap:80px;
    padding-left: 5%;
    padding-right: 5%;
}

.cases-content-group{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.cases-content-group-card img{
    width: 636px;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    margin-bottom: 16px;
}

.cases-content-group-card h5{
    color: #3B3B3B;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 8px;
}

.cases-content-group-card p{
    font-size: 16px;
    line-height: 24px;
    color: #919191;
    margin-bottom: 24px;
}

.cases-content-group-card-tag{
    display: flex;
    gap: 16px;
}

.cases-content-group-card-tag a{
    padding: 4px 12px;
    border-radius: 16px;
    background-color: #F1F1F1;
    color:#3B3B3B;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-decoration: none;
}

/* questions */
.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.questions-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.questions-box-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:24px;
}

.questions-box-card{
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    padding: 24px;
    width: 526px;
    height: 141px;
}

.questions-box-card h5{
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    color: #3B3B3B;
    margin-bottom: 16px;
}

.questions-box-card p{
    font-size: 20px;
    line-height: 30px;
    color: #3B3B3B;
}





/* services頁面在這裡結束 */
/* footer */
.footer{
    background-image: url(./images/footer-bg-lg.png);
    display: flex;
    padding: 80px;
    justify-content: center;
}

.footer-box{
    width: 1296px;
    display: flex;
    justify-content: space-between;
}

.footer-content img{
    width: 120px;
    height: 54px;
    margin-bottom: 24px;
}

.wellcome{
    color:#3B3B3B ;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
}

.email{
    color: #919191;
    font-size: 20px;
    line-height: 24px;
}



.footer-link{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.footer-link a{
    width: 306px;
    background-color: #FFFFFF;
    border: 1px solid #C1C1C1;
    color: #3B3B3B;
    padding:8px 24px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap:8px
}


.footer-link-open{
    width: 56px;
    height: 56px;
}

.footer-link .footer-link-hover{
    display: none;
    width: 56px;
    height: 56px;
}

.footer-link a:hover{
    background-color: #000000;
    border:1 solid #000000;
    color: #FFFFFF;
}

.footer-link a:hover .footer-link-hover{
    display: inline;
}

.footer-link a:hover .footer-link-open{
    display: none;
}




@media (max-width:1030px) {

        /* footer */
        .footer-box{
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .email{
            margin-bottom: 40px;
        }

        .footer-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}


@media (max-width:768px) {
    /* Menu改成漢堡選單*/
    .header{
        position:relative;
    }

    .menu{
        display: none;
        z-index: 5;
        position: absolute;
        flex-direction: column;
        align-items: center;
        margin:0;
        padding-top:40px;
        padding-bottom: 40px;
        top: 100%;
        right: 50%;
        transform: translateX(50%);/*因為上面用的是right，所以這邊用的是正的50%，如果使用到left，就需要設為負的50%*/
        background-color: #FFFFFF;
        width: 100%;
    }
    
    .menu-button{
        display: block;
    }

    .menu-button .menu-buttom-close{
        display: none;
    }

    .active{
        display: flex;
    }

    .cases-content-group{
        flex-direction: column;
    }

    .process-content{
        display: flex;
        flex-direction: column;
        gap:16px;
        align-items: center;
        width: 430px;
    }

    .process-content-card{
        flex-direction: column;
        align-items: center;
    }

    .process-content-card div{
        text-align: center;
    }

    .questions-box-card{
        width: 90%;
        height: auto;
    }

}

@media (max-width:450px) {
    .process-content{
        width: 351px;
    }

    .title-content-left,.title-content-right{
        width: 40px;
        height: 1px;
        background-color: #C1C1C1;
        position: relative;
    }

    .prices-box{
        gap:24px;
    }

    .prices-box-card{
        width: 90%;
    }
    
    .prices-box-title img{
        width: 40px;
        height: 40px;
    }
    
    .prices-box-title p{
        font-size: 20px;
        line-height: 30px;
    }
    
    .prices-box-deco{
        width: 28px;
    }
    
    .prices-box-money h6{
        font-size: 20px;
        line-height: 30px;
    }
    
    .prices-box-money p{
        font-size: 16px;
        line-height: 24px;
    }

    .cases-content-group-card h5{
        font-size: 20px;
        line-height: 24px;
    }
    
    .cases-content-group-card-tag{
        gap: 8px;
    }

    .questions-box-card h5{
        font-size: 20px;
        line-height: 24px;
    }
    
    .questions-box-card p{
        font-size: 16px;
        line-height: 24px;
    }

    .process-content-card div h6{
        font-size: 24px;
        line-height: 28.8px;

    }
    
    .process-content-card h5{
        font-size: 48px;
        line-height: 57.6px;
    }
}